.news-list
    margin: 0 autp
    margin-top: 30px
    background: #F5F6F7
    padding-bottom: 20px
    padding-top: 20px
   
.news-list .news-list_ul
    display: flex
    position: relative
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    list-style: none
    padding: 0px
.news-list .news-list_ul .card
    width: 18rem
    height: 100%
.news-list span
    color: #969595
.news-list h5
    font-size: 1rem
    text-align: center
    font-weight: 600
.news-list p
    font-size: 0.9rem
.news-list button
    font-size: 0.7rem

@media (max-width:768px)
    .news-list .news-list_ul
        width: 90%
        margin: 0 auto
    .news-list .news-list_ul li
        width: 100%
        height: 100%
        margin: 0 auto
    .news-list .news-list_ul .card
        margin-bottom: 3px
        width: 100%
        height: 100%
    .news-list .card-body
        padding: 5px
    .news-list h5
        font-size: 0.85rem
        text-align: center
        font-weight: 600
    .news-list p
        font-size: 0.7rem
        margin-bottom: 5px
    .news-list button
        font-size: 0.6rem
    
    