@import "__description/_footer__description.sass"
.footer   
    margin-top: 60px
    display: flex
    position: relative
    flex-direction: row
    justify-content: space-between

.footer img
    border-radius: 1000px
    width: 20%
@media (max-width:768px)
    $width: 30%
    .footer   
        margin: 0 auto
        margin-top: 30px
        width: 90%        
    .footer img
        border-radius: 1000px
        width: $width
        height: calc($width*1)
