@import "_comments/_open-news__comments.sass"
.open-news
    background: #F5F6F7
.open-news .card
    background: #F5F6F7 !important
    border: 0px
.open-news button
    background: #fa902d
    border-color: #fa902d
    margin-top: 15px
    margin-left: 10px
    padding: 2px

